/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px){
.newyear-model .new-year-po li{width: 50%;}
header{
  background-color: #FFFFFF;
  padding-top: 6px;
  padding-bottom: 6px;
  border-bottom: none;
  box-shadow: 0px 2px 2px -2px #444;
}

.offer_sec_h h4 {
    color: #074e86;
    font-size: 14px;
    font-weight: 400 !important;
    margin-top: 0;
}
/* ----------new year section--------- */
.mr_t{margin-top: 47px!important;}
.fix{
  background-color: #fff;
  box-shadow: -2px 1px 2px #c5c5c5;
  position: fixed;
  width: 100%;
  top: 47px;
  z-index: 99;
}
.sidebar{
  position: -webkit-sticky;
  position: sticky;
  top: 97px!important;
  z-index: 10;
}
.in-mobile{display: block;}
.in-web{display: none;}
header.new-year-header{
  background-color: #074E86;
  padding-top: 6px!important;
  padding-bottom: 6px!important;
  border-bottom: 1px solid #074E86;
}
.new-year-header .logn_menu{
  background-color: rgba(70, 78, 134, 0.7)!important;
  border: none!important;
  padding-right: 0px!important;
}
/*.viewmore-city{
  position: relative;
  padding-right: 0px!important;
}
.viewmore{display: none!important;}*/
.padRL{
  padding-right: 5px!important;
  padding-left: 5px!important;
}
.hed-icon{
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 16px;
  display: block;
}
.container-filter-section{
  margin-bottom: 0px!important;
}
/* --End-- */
.citybox ul{
  min-height: 120px!important;
  height: 120px!important;
}
/* ---event listing image size--- */
.divsize{
  height: auto!important;
  background-color: #fff;
  border-bottom: 1px solid transparent;
}
.divsize img{width: 100%!important; height: auto;}
/* ---End--- */

/* ---mobile top banner--- */
.bannerbox{
  position: relative;
  height: 150px;
}
.bannerbox img{width: 100%;height: 100%;}
.banner-overlay{
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 150px;
  background-color: rgba(0,0,0,0.4);
}
.bannerheading{
  position: absolute;
  padding: 3px!important;
  top: 10%;
  font-size: 16px!important;
  left: 50%;
  margin-left: -160px!important;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  width: 320px;
  z-index: 1;
}
.bannersmall{
  position: absolute;
  top: 40%;
  left: 50%;
  margin-left: -160px!important;
  padding: 3px!important;
  text-align: center;
  width: 320px;
  z-index: 1;
}
.bannersmall span a{
  border: none!important;
  padding:1px 8px!important;
  line-height: 20px!important;
  color: #fff;
  margin: 1px;
  border-radius: 10px;
  display: inline-block;
  box-sizing: border-box;
  margin-bottom: 5px!important;
  text-decoration: none!important;
  background-color: rgba(0,0,0,.3);
  font-family: 'oswald-regular';
}
.bannersmall span a:hover{
  color: #fff;
  background-color: #4177A2;
}
/* --End-- */
/* -------------photo gallery css---------- */
.my-image-gallery{
  background-color: #F5F5F5;
  box-shadow:none;
}
/* --End-- */

.positionMob{display: none;}
.mainul{position: relative;}
.mainli{
  margin-top:-3px; 
  padding: 0px;
  list-style-type: none;
  display: none;
  position: absolute;
  left: -65px;
  width: auto;
  min-height: 50px; 
  background: #fff;
  z-index: 99; 
  border-left: 1px solid transparent;
  border-right:1px solid transparent; 
  border-bottom:1px solid transparent;
}

.notification_text{
  line-height:18px!important;
  display:inline-block;
  text-align: left!important;
}
.filterbox{
  width: 24px!important;
  height: 24px!important;
  line-height: 22px!important;
  padding: 0px!important;
  margin: 0px!important;
  font-size: 16px!important;
}
.select_filter_list{
  width: 229px;
  overflow: hidden;
  margin: 0px!important;
  padding: 0px!important;
  height: 20px;
  line-height: 20px;
 
}
.select_filterbox{
  margin-top: 5px;
  height: 20px;
  line-height: 20px;
}
.filterhide_new{display: inline-block!important; padding: 0px!important; margin: 0px!important;}
.filterhide{display: none;}

#descrip table{width: 100%!important; max-width: 100%!important; word-break: break-all!important;}
.venuebox{width: 100%!important;}
.schedule-date{width: 100%!important;}
.event-schedulebox{
  border-left: none!important;
}
  .filterbox{margin-top: 0px;}
  .modal .small{ width: 100%; margin: 5em auto 0em!important; max-width: 400px!important; }

.venuebox{width: 100%!important;}
.myschedule-date{width: 100%!important;}
.myevent-schedulebox{
  border-left: none!important;
}
.meshim_widget_components_chatButton_Button .button_bar {
       max-width: 87px;
       height: 30px;
       color: #ffffff;
       border-radius: 0px!important;
       background: #EF7F1A!important;
       -moz-box-shadow: chatButtonShadow;
       -webkit-box-shadow: chatButtonShadow;
       box-shadow: chatButtonShadow;
}

#descrip table{width: 100%!important; max-width: 100%!important; word-break: break-all!important;}
.zopim{
       /*margin-top: 0px;
       margin-right: 0px;
       margin-bottom: 0px;*/
       padding: 0px;
       border: 0px none;
       background: transparent none repeat scroll 0% 0%;
       overflow: hidden;
       position: fixed; 
       z-index: 16000002;
       /*width: 30px!important;*/
       /*height: 35px!important;*/
       border-radius: 0px!important;
      /* right: 10px!important;
       bottom: 35px!important;*/
}
.meshim_widget_components_chatButton_ButtonBar .button_text{
    color: red!important;
}

.meshim_widget_components_chatButton_ButtonBar .button_text {
    position: relative;
    overflow: hidden;
    vertical-align: text-top;
    width: 20px!important;
    bottom: 0;
    -webkit-transition: bottom 0.3s ease-in-out;
    -moz-transition: bottom 0.3s ease-in-out;
    -o-transition: bottom 0.3s ease-in-out;
    transition: bottom 0.3s ease-in-out;
    font-weight: bold;
    line-height: 30px;
   /* padding-left: 10px;
    padding-right: 10px;*/
}

















.topfooter h3{margin-top: 30px!important;}
.fullfooter{display: inline-block;}
.topfooter{display: none;}
.tooglebox button{
display: inline-block;
}

  h1.featuredboxhead{
 font-size: 18px!important;
 font-weight: bold!important;
 color: #666!important;
}
  h1.similarhead{
 font-size: 16px!important;
 letter-spacing: 0px!important;
 font-weight: bold!important;
 line-height: 20px!important;
 margin-bottom: 10px!important;
}
h1.similarhead .btnmy{
 margin-top: 0px;
 padding: 3px 5px!important;
 font-size: 10px!important;
}
  .eventimagelistmain li{width: 100%;height: 130px;}
  .stickbutton{display: block;}
#navbar-example.stick{display: none;}
.tabBox{padding-top: 5px;}
   .listlink{margin-right: 15px;}
.contactlink{margin-left: 0px;}
   .similarhead2{
  font-size: 12px!important;
  padding: 5px 2px!important;
  line-height: 20px!important;
}
.similarhead2 .btnmy{
  padding: 3px!important;
  font-size: 10px!important;
}
.my-btn-sm{
  padding: 15px!important;
  font-size: 13px!important;
  height: 30px!important;
  line-height: 0px!important;
}
.sharelinkboxgo ul.pull-right,.sharelinkboxgo small{
  float: none!important;
  display: block;
}
.orderid .media-body{
  padding-bottom: 20px;
}
.CreateEvent button.btn-primary,.multipleevent button.btn-primary,.multipleevent button.btn-primary,
.CreateEvent input[type="submit"].btn-primary,.multipleevent input[type="submit"].btn-primary,.multipleevent input[type="submit"].btn-primary{display: none;}

.attachcv .inputfile-6 + label span{
  width: 160px!important;
}
.attachcv .inputfile-6 + label span,
.attachcv .inputfile-6 + label strong{
  padding:10px 7px;
}
.proceed-pay-ibnc button{
  font-size: 10px!important;
}
.mobilenaviFixed .logoimage{margin-left: 35px;}
.pagination li a{
  width: 28px!important;
  height: 25px!important;
  line-height: 25px!important;
  padding: 0px!important;
  display: inline-block;
}

.payment-img{text-align: center;}
.org-detailbox .media-left a{width: 40px; height: 40px;}
.org-follower .followercontact{margin-left: 20px;}
.ge-orderconformation h3{
  color: #666 !important;
  font-size: 14px !important;
  font-weight: bold;
  margin: 0;
  padding-bottom: 5px;
}
.ge-ordertable{
  border: 1px solid transparent;
  border-top-color: #ddd;
}
.ge-conformation-date{display: block;}
.landingboxTop{
  height: auto;
  padding-top: 10px!important;
  padding-bottom: 10px!important;
}
.CreateEvent .pull-right{float: none !important;}
.landingboxTop h1{
  color: #fff!important;
  margin: 0px auto!important;
  font-size: 18px!important;  
  line-height: 25px;
  font-weight: normal!important;
  padding: 0px!important;
  text-transform: capitalize;
  letter-spacing: 1px;
  text-shadow: 3px 3px 3px #000;
}
.landingboxTop h3{
  letter-spacing: 1px;
  color: #fff!important;
  font-weight: normal;
  padding: 0px!important;
  font-size: 16px!important;
  text-transform: lowercase!important;
  text-shadow: 5px 5px 5px #000;
}
.landingbox h1,.landingbox2 h1{
  font-size: 15px!important;
  margin: 0px!important;
  font-weight: bold!important;
}
.landingbox{
  padding-top: 10px!important;
  padding-bottom: 10px!important;
  background-color: #fff;
}
.landingbox2{
  padding-top: 10px;
  padding-bottom: 10px;
}
.box2icon p{
  padding: 0px!important;
  margin: 0px!important;
}
.landingbox h3,.landingbox2Left h3{
  font-weight: normal!important;
  font-size: 15px!important;
  margin: 0px!important;
  padding: 0px!important;
  color: #666!important;
  padding-bottom: 15px;
}
.landingbox2Left p{
  font-size: 13px!important;
}
/* .lefthead img{
  max-width: 130px;
} */
.righthead1{
  padding: 0px!important;
  margin: 0px!important;
}
.righthead1 li{
  list-style: none;
  padding: 0px!important;
  font-size: 9px!important;
  float: none!important;
}
.ge-deleteshow{margin-top: 0px!important;}
.pricebox,.couponcombinebox{
  width: 100%;
  max-width: 280px!important;
  margin: 0px auto
}
.columnhide{display: none;}
.eventdetailbox h1{
  font-size: 18px !important;
  margin-bottom: 15px !important;
  margin-top: 10px !important;
  padding: 0;
}
.tooglebox button{
 display: inline-block;
}
.padl{padding-left: 15px!important;}
.padr{padding-right: 15px!important;}
.information{display: inline-block!important;}
.nav-tabs > li > a, .nav-tabs > li > a:focus {
  box-shadow: none!important;
}
.sticktab .nav-tabs > li > a {
  background-color: transparent;
  border: medium none;
  box-shadow: none;
  color: #fff !important;
  display: block;
  font-size: 15px;
  padding: 2px 8px;
  position: relative;
  transition: all 0.2s ease 0s;
}

.pick-a-color-markup .pick-a-color {
  font-size: 18px;
  height: 34px!important;
  min-width: 160px!important;
  padding: 9px;
  margin: 0px auto;
  width: 100%;
}
.pick-a-color-markup .input-group-btn .color-dropdown{
  height: 34px!important;
}
.colorbox button,.colorbox button:hover,.colorbox .input-group-addon{
  border-radius: 0px!important;
  background-color: #fff;
  box-shadow: none;
  color: #666;
  border: 1px solid #ddd;
  padding:5px 0px 5px 5px!important;
}
.media-right{display: block!important;}
#headerbtn{display: none;}
.media-body .media-heading{font-style: 22px!important;}
.searchbox, #navbar-example.stick1, .hidebtn, .headersearch, .namehide{
 display: none!important;
}
.loginli a{
 padding:0px!important;
 background-color: #eee;
 border: 1px solid #eee;
}
.loginli ul li a{
 background-color: inherit;
 border-color: transparent;
 padding:0px 10px 0px 10px!important;
}
.mobileview{
 display: block;
}
.loghide{
 opacity: 0;
}
.CreateEvent button{
 padding: 2px 5px;
 margin: 0px;
}

.loginpage{
 padding-top: 0px!important;
 margin-bottom: 70px;
}
.loginpage h3{
 margin-top: 8px;
}
.sharelinkbox1 .eventheading h1{
 font-size: 18px!important;
 padding-top: 5px!important;
}
.sharelinks h3{
 font-size: 15px!important;
}
.sharelinkbox2 ul li a i{
 width: 25px!important;
 height: 25px!important;
 line-height: 25px!important;
 margin-left: 4px!important;
 font-size: 18px;
}
.admintophed{
  text-align: center!important;
}
.LoadeVedioes input[type="text"]{
  height: 36px;
  width: 208px;
}
.stackbtn a{
 width: 100px!important;
 background-color: #EF7F1A!important;
 font-weight: bold;
 text-align: center;
 font-size: 13px!important;
 margin-top: 3px;
 margin-bottom: 3px;
 margin-right: 10px!important;
 border-radius: 0px!important;
 padding: 3px!important;
 color: #fff;
 text-transform: uppercase;
 box-shadow:none!important;
}
.techimage img{
 margin-bottom: 0px!important;
 max-width: 80px;
}

.aboutcontent{
 padding-top: 0px;
 padding-bottom: 0px;
 line-height: 23px;
}
.aboutcontent p{
 font-size: 14px;
 color: #444;
 margin: 0px;
 padding: 0px 10px;
}
.aboutcontent span,.aboutcontent span a{
 font-size: 14px;
 color: #EF7F1A;
 text-decoration: none!important;
}
.textbold{font-weight: bold; font-size: 15px!important;}
/* .searchfix{display: none;} */
.featuredbox .h1{margin-top: 50px!important;}

}

@media only screen and (min-device-width : 360px) and (max-device-width : 640px){
  /* ----------new year section--------- */
  .offer_sec_h h4 {
    color: #074e86;
    font-size: 14px;
    font-weight: 400 !important;
    margin-top: 0;
}
.mr_t{margin-top: 47px!important;}
.newyear-model .new-year-po li{width: 50%;}
.fix{
  background-color: #fff;
  box-shadow: -2px 1px 2px #c5c5c5;
  position: fixed;
  width: 100%;
  top: 47px;
  z-index: 99;
}
.sidebar{
  position: -webkit-sticky;
  position: sticky;
  top: 97px!important;
  z-index: 10;
}
.in-mobile{display: block;}
.in-web{display: none;}
header.new-year-header{
  background-color: #074E86;
  padding-top: 6px!important;
  padding-bottom: 6px!important;
  border-bottom: 1px solid #074E86;
}
.new-year-header .logn_menu{
  background-color: rgba(70, 78, 134, 0.7)!important;
  border: none!important;
  padding-right: 0px!important;
}
/*.viewmore-city{
  position: relative;
  padding-right: 0px!important;
}
.viewmore{display: none!important;}*/
.padRL{
  padding-right: 5px!important;
  padding-left: 5px!important;
}
.hed-icon{
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 16px;
  display: block;
}
.container-filter-section{
  margin-bottom: 0px!important;
}
/* --End-- */
/* -----------discovery event-------- */
.dicover-mail{
  box-shadow: 0px 0px 1px #ccc;
  height: 180px!important;
  width: 100%;
  position: absolute;
  bottom: -18px;
  left: 0px;
  z-index: 9999!important;
  display: none;
  border: 2px solid #555;
  border-top: 4px solid #444;
  border-radius: 2px 2px 2px 2px;
}
.dicover-mail .mail-header{display: none;}
.dicover-mail input[type="text"],.dicover-mail input[type="email"]{
  border: none!important;
  border-bottom: 1px solid #e5e5e5!important;
  height: 30px!important;
  border-radius: 0px!important;
  font-weight: normal!important;
  font-size: 13px!important;
  color: #666!important;
  background-color: rgba(51, 51, 51, 0.01)!important;
}
.dicover-mail textarea.mail{
  border: none!important;
  border-bottom: 1px solid #ddd!important;
  font-weight: normal!important;
  font-size: 13px!important;
  color: #666!important;
  height: 54px!important;
  background-color: rgba(51, 51, 51, 0.01)!important;
}
.dicover-mail textarea.sms{
  border: none!important;
  border-bottom: 1px solid #ddd!important;
  font-weight: normal!important;
  font-size: 13px!important;
  color: #666!important;
  height: 84px!important;
  background-color: rgba(51, 51, 51, 0.01)!important;
}
.dicover-mail .mail-footer{
  background-color: #555!important;
  height: 31px;
  line-height: 30px;
  padding: 0px 5px!important;
  color: #eee!important;
  position: relative;
}
.dicover-mail .mail-footer .closebtn{
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0px!important;
  width: 22px;
  height: 22px;
  display: block;
  text-align: center;
  line-height: 20px;
  position: absolute;
  right: 7px;
  top: 7px;
  font-size: 16px;
  font-weight: normal!important;
  color: #888;
  cursor: pointer;
}
.btn-mail{
  box-shadow: none!important;
  background-color: rgba(74, 140, 246, .8);
  border: 1px solid #4B8EF9;
  width: 55px;
  padding: 0px!important;
  color: #fff;
  height: 24px;
  text-transform: capitalize!important;
  font-size: 12px!important;
}
.btn-mail:hover{
  background-color: rgba(74, 140, 246, 1);
  color: #fff;
}
/* ============= */

.positionbottom{
  background-color:#F2F2F2;
  height: 50px;
  position: fixed;
  width: 100%;
  bottom:0px;
  box-shadow: inset 0 3px 4px -3px #ddd;
  border-top:none;  
  left: 0px;
  right: 0px;
  box-sizing: border-box;
  padding: 3px 15px 0px 15px;
  padding-left: 15px;
  z-index: 1;
}
.mobileicon{
  width: 32px;
  height: 32px;
  line-height: 28px;
  color: #fff;
  position: absolute;
  left: 5px;
  top: 0px;
  font-size: 20px;
  border: 1px solid #888;
  text-align: center;
  background-color: #999!important;
  padding: 0px!important;
  border-radius: 2px;
  cursor: pointer;
  display: block;
  -webkit-transition:500ms;
  -moz-transition:500ms;
  transition:500ms;
}
/*.headersearchicon .divpadding{
  padding-left: 100px!important;
}*/
.add_dicbg{
  min-height: 162px!important;
  padding: 6px;
  padding-bottom: 40px;
  border: 1px none;
  border-top: none;
  position: relative;
  border-radius: 0px 0px 3px 3px;
}
.add_dicbg h4{
  font-size: 16px!important;
  margin: 0px!important;
  padding: 0px!important;
  padding-bottom: 2px!important;
}
.add_dic{
  margin-bottom: 0px!important;
  position: relative;
  padding-left: 19px;
}
.smsbotton{
  width: 40px;
  height: 35px;
  padding: 0px!important;
  font-weight: bold;
  font-size: 24px!important;
  color: #666;
  border-radius: 2px!important;
  box-shadow: none!important;
  border: 1px solid #c4c4c4!important;
  box-sizing: border-box;
  font-weight: bold;
}
/* --End-- */

/* ---header andfooter---- */
header{
  background-color: #FFFFFF;
  padding-top: 6px;
  padding-bottom: 6px;
  border-bottom: none;
  box-shadow: 0px 2px 2px -2px #444;
}
.citybox ul{
  min-height: 120px!important;
  height: 120px!important;
}/* ---End--- */

/* ---event listing image size--- */
.divsize{
  height: auto!important;
  background-color: #fff;
  border-bottom: 1px solid transparent;
}
.divsize img{width: 100%!important; height: auto;}
/* ---End--- */

/* -------------photo gallery css---------- */
.my-image-gallery{
  background-color: #F5F5F5;
  box-shadow:none;
}
/* --End-- */
/* ---mobile top banner--- */
.bannerbox{
  position: relative;
  height: 150px;
}
.bannerbox img{width: 100%;height: 100%;}
.banner-overlay{
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 150px;
  background-color: rgba(0,0,0,0.4);
}
.bannerheading{
  position: absolute;
  padding: 3px!important;
  top: 10%;
  font-size: 18px!important;
  left: 50%;
  margin-left: -180px!important;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  width: 360px;
  z-index: 1;
  
}
.bannersmall{
  position: absolute;
  top: 40%;
  left: 50%;
  margin-left: -160px!important;
  padding: 3px!important;
  text-align: center;
  width: 320px;
  z-index: 1;
}
.bannersmall span a{
  border: none!important;
  padding:1px 8px!important;
  line-height: 20px!important;
  color: #fff;
  margin: 1px;
  border-radius: 10px;
  display: inline-block;
  box-sizing: border-box;
  margin-bottom: 5px!important;
  text-decoration: none!important;
  background-color: rgba(0,0,0,.3);
  font-family: 'oswald-regular';
}
.bannersmall span a:hover{
  color: #fff;
  background-color: #4177A2;
}
/* --End-- */




.positionMob{display: none;}
.notification_text{
  line-height:18px!important;
  display:inline-block;
  text-align: left!important
}
.mainul{position: relative;}
.mainli{
  margin-top:-3px; 
  padding: 0px;
  list-style-type: none;
  display: none;
  position: absolute;
  left: -65px;
  width: auto;
  min-height: 50px; 
  background: #fff;
  z-index: 99; 
  border-left: 1px solid transparent;
  border-right:1px solid transparent; 
  border-bottom:1px solid transparent;
}
.filterbox{
  width: 24px!important;
  height: 24px!important;
  line-height: 22px!important;
  padding: 0px!important;
  margin: 0px!important;
  font-size: 16px!important;
}
.select_filter_list{
  width: 260px!important;
  overflow: hidden;
  margin: 0px!important;
  padding: 0px!important;
  height: 20px;
  line-height: 20px;
}
.select_filterbox{
  margin-top: 5px;
  height: 20px;
  line-height: 20px;
}
.filterhide_new{display: inline-block!important; padding: 0px!important; margin: 0px!important;}
.filterhide{display: none;}
.select_filter_list{margin-top: 0px!important}
#descrip table{width: 100%!important;}
.venuebox{width: 100%!important;}
.schedule-date{width: 100%!important;}
.event-schedulebox{border-left: none!important;}
.modal .small{ width: 100%; margin: 5em auto 0em!important; max-width: 400px!important;}
#descrip table{width: 100%!important; max-width: 100%!important; word-break: break-all!important;}
.venuebox{width: 100%!important;}
.myschedule-date{width: 100%!important;}
.myevent-schedulebox{
  border-left: none!important;
}
.topfooter h3{margin-top: 30px!important;}
.fullfooter{display: inline-block;}
.topfooter{display: none;}
.tooglebox button{
display: inline-block;
}
h1.featuredboxhead{
 font-size: 18px!important;
 font-weight: bold!important;
 color: #666!important;
}
 h1.similarhead{
 font-size: 18px!important;
 letter-spacing: 0px!important;
 font-weight: bold!important;
 line-height: 20px!important;
 margin-bottom: 10px!important;
}
h1.similarhead .btnmy{
 margin-top: 0px;
 padding: 5px 10px!important;
 font-size: 10px!important;
}
.eventimagelistmain li{width: 100%;height: 150px;}
.stickbutton{display: block;}
#navbar-example.stick{display: none;}
.tabBox{padding-top: 5px;}
.listlink{margin-right: 12px;}
.contactlink{margin-left: 0px;}
.CreateEvent button.btn-primary,.multipleevent button.btn-primary,.multipleevent button.btn-primary,
.CreateEvent input[type="submit"].btn-primary,.multipleevent input[type="submit"].btn-primary,.multipleevent input[type="submit"].btn-primary{display: none;}
.attachcv .inputfile-6 + label span{
  width: 200px!important;
}
.attachcv .inputfile-6 + label span,
.attachcv .inputfile-6 + label strong{
  padding:10px 7px;
}
.proceed-pay-ibnc button{
  font-size: 10px!important;
}
.mobilenaviFixed .logoimage{margin-left: 35px;}
.pagination li a{
  width: 34px!important;
  height: 30px!important;
  line-height: 30px!important;
  padding: 0px!important;
  display: inline-block;
}
.admintophed{
  text-align: center!important;
}
.namehide{
 display: none!important;
}
.loginli a{
 padding:0px!important;
 background-color: #eee;
 border: 1px solid #eee;
}
.loginli ul li a{
 background-color: inherit;
 border-color: transparent;
 padding:0px 10px 0px 10px!important;
}
.payment-img{text-align: center;}
.org-detailbox .media-left a{width: 40px; height: 40px;}
.ge-ordertable{
  border: 1px solid transparent;
  border-top-color: #ddd;
}
.ge-conformation-date{display: block;}
.righthead1{
  padding: 0px!important;
  margin: 0px!important;
}
.righthead1 li{
  list-style: none;
  padding: 0px!important;
  font-size: 9px!important;
  float: none!important;
}
.landingboxTop{
  height: auto;
  padding-top: 10px!important;
  padding-bottom: 10px!important;
}
.CreateEvent .pull-right{float: none !important;}
.landingboxTop h1{
  color: #fff!important;
  margin: 0px auto!important;
  font-size: 18px!important;
  line-height: 25px;
  font-weight: normal!important;
  padding: 0px!important;
  text-transform: capitalize;
  letter-spacing: 1px;
  text-shadow: 3px 3px 3px #000;
}
.landingboxTop h3{
  letter-spacing: 1px;
  color: #fff!important;
  font-weight: normal;
  padding: 0px!important;
  font-size: 16px!important;
  text-transform: lowercase!important;
  text-shadow: 5px 5px 5px #000;
}
.landingbox h1,.landingbox2 h1{
  font-size: 15px!important;
  margin: 0px!important;
  font-weight: bold!important;
}
.landingbox{
  padding-top: 10px!important;
  padding-bottom: 10px!important;
  background-color: #fff;
}
.landingbox2{
  padding-top: 10px;
  padding-bottom: 10px;
}
.box2icon p{
  padding: 0px!important;
  margin: 0px!important;
}
.landingbox h3,.landingbox2Left h3{
  font-weight: normal!important;
  font-size: 15px!important;
  margin: 0px!important;
  padding: 0px!important;
  color: #666!important;
  padding-bottom: 15px;
}
.landingbox2Left p{
  font-size: 13px!important;
}
.media-right{
  display: block!important;
}

.pricebox,.couponcombinebox{
  width: 100%;
  max-width: 280px!important;
  margin: 0px auto
}
.marigtop{margin-top: 0px!important;}
.ge-deleteshow{margin-top: 0px!important;}
.mobileview{display: none;}
.eventdetailbox h1{
  font-size: 18px !important;
  margin-bottom: 15px !important;
  margin-top: 10px !important;
  padding: 0;
}
.information{display: inline-block!important;}
.columnhide{display: none;}
.tooglebox button{display: inline-block;}
.searchbox, #navbar-example.stick1, .hidebtn, .headersearch{
 display: none!important;
}
.padl{padding-left: 15px!important;}
.padr{padding-right: 15px!important;}
.sticktab .nav-tabs > li > a {
  background-color: transparent;
  border: medium none;
  box-shadow: none;
  color: #fff !important;
  display: block;
  font-size: 15px;
  padding: 5px 8px;
  position: relative;
  transition: all 0.2s ease 0s;
}
.stackbtn a {
  background-color: #ef7f1a !important;
  border-radius: 0 !important;
  box-shadow: none !important;
  color: #fff;
  font-size: 14px!important;
  font-weight: normal;
  margin-right: 15px !important;
  margin-top: 6px;
  padding: 0px 5px!important;
  text-align: center;
  text-transform: uppercase;
  width: 100px;
}
.CreateEvent button.btn-primary,.multipleevent button.btn-primary,.multipleevent button.btn-primary{display: none;}
}








/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px){
 .modal .small{ width: 100%; margin: 5em auto 0em!important; max-width: 400px!important;}
  .namehide,.namehide.caret{display: none;}
.loginli a{
 padding:0px!important;
 background-color: #eee;
 border: 1px solid #eee;
}

.dropdown-menu-right li a{
  padding:3px 10px!important;
}
/* ---------new year-section------- */
.container-filter-section .filter-list{
  padding: 10px;
}
.new-year-header .logn_menu{
  background-color: rgba(70, 78, 134, 0.7)!important;
  border: none!important;
  padding-right: 0px!important;
}
.container-filter-section .filter-list ul{
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}
.container-filter-section .filter-list ul li{
  width: 50%!important;
  float: left;
  margin-bottom: 5px;
}
.container-filter-section{
  margin-bottom: 0px!important;
}
/* --End-- */
.headersearchicon .tooglebox{
 position: absolute;
 top: 0px;
 right: 190px;
 padding: 0px;
 display: inline-block;
}
.tooglebox button{display: inline-block;}

  

  .eventimagelistmain li{width: 50%;}

  .admintophed{
  text-align: center!important;
}
   .bannerbox{
 position: relative;
 height: 320px;
}
.banner-overlay{
 position: absolute;
 top: 0px;
 left: 0px;
 right: 0px;
 bottom: 0px;
 height: 320px;
 background-color: rgba(0,0,0,0.4);
}
.bannerheading{
  position: absolute;
  padding: 3px!important;
  top: 37%;
  font-size: 33px!important;
  left: 50%;
  margin-left: -380px!important;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  width: 760px;
  z-index: 1;
}
.bannersmall{
  position: absolute;
  top: 51%;
  left: 50%;
  margin-left: -380px!important;
  padding: 3px!important;
  text-align: center;
  width: 760px;
  z-index: 1;
}
.CreateEvent button.btn-primary,.multipleevent button.btn-primary,.multipleevent button.btn-primary,
.CreateEvent input[type="submit"].btn-primary,.multipleevent input[type="submit"].btn-primary,.multipleevent input[type="submit"].btn-primary{display: none!important;}
.attachcv .inputfile-6 + label span{
  width: 165px;
}
.attachcv .inputfile-6 + label span,
.attachcv .inputfile-6 + label strong{
  padding:10px 10px;
}
.mobilenaviFixed .logoimage{margin-left: 35px;}
.pick-a-color-markup .pick-a-color {
  font-size: 18px;
  height: 34px!important;
  min-width: 200px!important;
  padding: 9px;
  margin: 0px auto;
  width: 100%;
}
.colorbox button,.colorbox button:hover,.colorbox .input-group-addon{
  border-radius: 0px!important;
  background-color: #fff;
  box-shadow: none;
  color: #666;
  border: 1px solid #ddd;
  padding:3px!important;
  padding-left: 5px!important;
}
.pick-a-color-markup .input-group-btn .color-dropdown{
  height: 34px!important;
}
.searchbox{
 display: none!important;
}

#navbar-example.stick ul li a{
 padding: 3px 10px;
}
#descrip.stick{padding-top: 0px!important;}
.headersearch{display: none;}
.CreateEvent{
 padding-top: 5px;
 padding-bottom: 5px;
 background-color: #fff;
 text-align: center!important;
}
.marginLR .row{
 margin-right: 0px;
 margin-left: 0px;
}

.stackbtn a{
 width: 150px;
 background-color: #EF7F1A!important;
 font-weight: bold;
 text-align: center;
 font-size: 15px;
 margin-top: 3px;
 margin-bottom: 3px;
 margin-right: 15px!important;
 border-radius: 0px!important;
 padding: 3px!important;
 color: #fff;
 text-transform: uppercase;
 box-shadow:none!important;
}
.listlink{margin-right: 12px;}
.contactlink{margin-left: 10px;}
}

@media (max-width: 800px){
.mobilenavi{display: block!important;}
.mainbox{ padding-left: 0px;}
.left-section{
 left: -250px;
 z-index: 9;
}
.left-section.commonnavi{left: 0px; box-shadow: 4px 0px 6px #888;}
.mobilenavi.commonnavi{
 color: #fff;
 background-color:#074E86;
}

.mobileicon{display: block!important;}
.admindashboard,.afteradmindashboard{ padding-left: 0px;}
.admin-left{
 left: -50px;
 z-index: 9;
}
.adminleft-section{
 left: -200px;
 z-index: 9;
}
.adminleft-section.commonnavi{left: 0px; box-shadow: 1px 0px 1px #ccc;}
}

